.form-content{
    height: auto;
    width: 100%;
    display:flex;
    background-color: white;
    justify-content: center;
    padding-bottom: 5rem;
}
.nav-list{
    text-decoration: none;

}
.AppNameText{
    text-underline-position: none;
    -ms-text-underline-position: none; 
    color: #52b788;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headline{
    color:#52b788; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info{
    color:darkslategray;
    align-content: initial;
    text-align: left;
}
.form{
    height: auto;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.2rem;
    padding: 1rem 1.6rem;
    margin: 0.3rem 2rem;
    background-color: white;
    box-shadow: 0.7rem 0.7rem 15rem whitesmoke;
}
.form-lable{
    font-size: 0.9rem;
    align-items: left;
    padding: 0.2rem;
}
.form-input-div{
    width: 30rem;
    background-color: white;
    outline-color: #52b788;;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
}
.form-input{
    width: 30rem;
    border: 0.08rem solid whitesmoke;
    background-color: white;
    outline-color: #52b788;;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border-bottom: gray;
    margin: 0.2rem;
}
.form-input::placeholder{
    font-size: 1.1em;
    font-weight: normal;
}
.form-input-btn{
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.7rem;
    margin-left:  0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.19rem;
    padding: 1rem;
    border-radius: 10%;
    color: white;
    border: 0.01;
    border-color: #52b788;;
    background-color: #52b788;
    box-shadow: 9rem 9rem 18rem whitesmoke;
    width: 7rem;
}
.form-input-btn:hover{
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0.7rem;
    margin-left:  0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.19rem;
    padding: 1rem;
    border-radius: 10%;
    color: #52b788;
    border: 0.01;
    border-color: #52b788;;
    background-color: white;
    width: 7rem;
    box-shadow: 9rem 9rem 18rem whitesmoke;
}
.logo{
    width: 15rem;
    height: auto;
    padding: 1rem;
}
.from-error{
    text-align: center;
    color: tomato;
    font-size: 0.8rem;
}